Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

.idea/
.vsconfig
Content/__ExternalActors__/
Content/__ExternalObjects__/
Content/ProjectCC/Maps/TestMaps/
Content/MarketplaceAssets/
Platforms
Plugins/Developer/RiderLink
ProjectCC.sln.DotSettings.user
Plugins/BlueprintAssist/Binaries/*
Plugins/BlueprintAssist/Intermediate/*
Plugins/BlueprintAssist/NodeSizeCache/*
Config/DefaultEditorPerProjectUserSettings.ini


#FMOD
Content/FMOD/**/*.uasset

!Plugins/FMODStudio/Binaries

Plugins/FMODStudio/Intermediate
Plugins/FMODStudio/Binaries/Win64/Unreal*.*

#Audio
Content/ProjectCC/Audio/TestAudio

#Plugins

